body {
    margin: 0;
    padding: 0;

}

#board {
    background-color: red;
    height: 100vh;
    position: relative;
}

#player {
    background-color: black;
    position: absolute;


}

.obstacle {
    background-color: grey;
    position: absolute;
}

#page-gameover {
    text-align: center;
    background-color: rgb(166, 161, 171);
}